@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
	background: url("https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	font-family: 'Ubuntu';
	background-repeat: no-repeat;
	background-size: 100%;
}
.center{
	position: relative;
	text-align: center;
	width: 280px;
	height: 400px;
	background: #ebebe0;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: 100px;
	border-bottom : 3px solid #c2c2a3;
	border-radius: 5%;
}
.header{
	padding-top: 5px;
	text-align: left;
	padding-left: 30px;
}
.board{
	width: 220px;
	height: 50px;
	background: #fff;
	border: 3px solid #000;
	border-radius: 3px;
	margin-left: 30px;
}
.buttons{
	position: absolute;
	
	margin-left: 35px;
	padding-top: 20px;

	display: grid;
	grid-template-columns: 35px 35px 35px 35px 35px;
	grid-template-rows: 28px 28px 28px 28px 28px 28px;  
	grid-gap: 10px;
}
button{
	border-radius: 6px;
	font-size: 15px;
	grid-c
}

.equal{
	grid-column: 5;
	grid-row: 5/7;
	background: 
}
.screen{
	text-align: right;
	padding-right: 5px;	

}
#answer{
	font-size: 24px;
}
#equation{
	font-size: 15px;
}